/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    /* border: solid 1px #888; */
    background-color: #DDD8C4;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #2d4952;
  font-weight: bold;
  color: bisque;
}

button {
  display: inline-block;
  max-width: 60%;
  margin: 3px;
  padding: 5px 10px;
  border-radius: 15px;
  border: none;
  background-color: rgb(177, 98, 201);
  color: rgb(48, 23, 23);
  font-family: sans-serif;
  font-weight: bold;
  font-size: 0.8em;
}