/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 40px;
    margin-bottom: 20px;
    border: dotted 5px #888;
    background-color: rgb(131, 164, 207);
  }

body {
  background-color: rgb(65, 147, 102);
}

#content {
  font-size: px;
  border: dotted 5px turquoise;
}

h1 {
  color: wheat;
  font-weight: bold;
}

p {
  margin-left: 15px;
  font-weight: bold;
}

img {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}
